**/.vscode/
**/.mvn/
**/.idea/
**/.DS_Store

infra/*.js
infra/!jest.config.js
infra/*.d.ts
infra/node_modules
infra/package-lock.json

# CDK asset staging directory
infra/.cdk.staging
infra/cdk.out

outboxApp/HELP.md
outboxApp/target/
outboxApp/!.mvn/wrapper/maven-wrapper.jar
outboxApp/!**/src/main/**/target/
outboxApp/!**/src/test/**/target/

### IntelliJ IDEA ###
outboxApp/*.iws
outboxApp/*.iml
outboxApp/*.ipr

cdcApp/HELP.md
cdcApp/target/
cdcApp/!.mvn/wrapper/maven-wrapper.jar
cdcApp/!**/src/main/**/target/
cdcApp/!**/src/test/**/target/

### IntelliJ IDEA ###
cdcApp/*.iws
cdcApp/*.iml
cdcApp/*.ipr